<div class="full-bg">
    <div class="signin-modal container flex-container centered">
        <div class="flex-item">
            <h2>Sign in</h2>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-floating">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="floatingInput" ngModel name="email" required>
                </div>
                <div class="form-floating">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" ngModel id="floatingPassword" name="password" required>
                </div>
                <button id="sign-in" type="submit">
                    <div>
                        Sign in
                    </div>
                </button>
            </form>
            <div class="flex-container dividers">
                <div class="divider"></div>
                <div class="or">Or</div>
                <div class="divider"></div>
            </div>
            <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin>
            <p>
                By continuing, you agree to the <a>Terms of use</a> and <a>Privacy Policy</a>
            </p>
        </div>
        <div class="flex-item">
            <h2>Create an account</h2>
            <p>Be among the first to sign up and save on your monthly subscription for the first year!</p>
            <img class="discount-badge" alt="First 200 customers get 1 year free" src="assets/images/discount-badge.png"/>
            <button id="create-account" routerLink="/signup">Create account</button>
        </div>
    </div>
</div>
