<header class="main-header">
    <div class="container">
        <div class="flex-container">
            <div id="logo" class="flex-item">
                Free Transport Broker
            </div>
            <div class="flex-item">
                <nav class="header-nav">
                    <ul>
                        @for (item of menu; track item.name) {
                            <li class="item">
                                <a href="#" routerLink={{item.url}}>{{item.name}}</a>
                            </li>
                        } @empty {
                            <li></li>
                        }
                       @if(isLoggedIn) {
                        <li class="item">
                            <a href="#" (click)="logout()">Log Out</a>
                        </li>
                       }
                       @else {
                        @for (item of authMenu; track item.name) {
                            <li class="item">
                                <a href="#" routerLink={{item.url}}>{{item.name}}</a>
                            </li>
                        }
                       }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
